.title-h1 {
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
  text-align: center;
  display: inline-block;
  padding-right: 8%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.paragraph {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 500;
  padding: 20px;
  max-width: 80%;
  margin: 2% auto;
  line-height: 1.5;
  font-size: 24px;
}

.back-icon {
  float: left; /* Positions the SVG to the left */
  margin-left: 5%; /* Adds some space between the SVG and the following content */
  margin-top: 2%;
}

/* Targeting the link wrapping the SVG for a pointer cursor */
a .back-icon {
  transition: transform 0.2s ease, stroke 0.2s ease;
  cursor: pointer;
  -webkit-transition: transform 0.2s ease, stroke 0.2s ease;
  -moz-transition: transform 0.2s ease, stroke 0.2s ease;
  -ms-transition: transform 0.2s ease, stroke 0.2s ease;
  -o-transition: transform 0.2s ease, stroke 0.2s ease;
}

/* Hover effect */
a:hover .back-icon {
  transform: scale(1.1); /* Slightly enlarges the SVG */
  stroke: black; /* Change color on hover, choose a color that matches your design */
}

.photo-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: black;
  text-align: center;
}

.gallery-item {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  padding-top: 100%; /* This will make the item square */
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.05); /* More moderate zoom effect */
}


.gallery-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(400px, 1fr)
  ); /* Increase the minimum size of the columns */
  gap: 1%;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .back-icon {
    margin-top: 9%; /* Add bottom margin on mobile */
    margin-left: 6%;
  }
}
